.section {
  display: flex;
  justify-content: space-around;

  height: inherit;
  overflow: auto;

  flex-wrap: wrap;
}

.photo_wrap {
  margin: 3px;

  height: 200px;
  width: 190px;

  overflow: hidden;

  border: 1px solid lightgray;
}

.photo {
  width: 190px;
}
