@import "../../styles/variables";

.carousel {
  position: relative;
}

.photos {
  height: 186px;
  overflow-x: auto;
  white-space: nowrap;
}

.image_wrap {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 10px 6px;
  overflow: hidden;
}

.image {
  height: 160px;
}

.button {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  font-size: 30px;
  background-color: $bg_main-light;
  border: none;
  opacity: 0.8;
}

.button:hover {
  background-color: $bg_main-light;
  opacity: 1;
}

.button_left {
  left: 0;
}

.button_right {
  right: 0;
}
