@import '../../../styles/variables';

.nav {
}

.list {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.item {
  width: 100%;

  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.link {
  display: block;

  text-decoration: none;

  color: $tx_primary-light;

  padding: 5px 5px;
}

.link:hover {
  background-color: $bg_active-light;
  color: $tx_active-light;
}

//light theme
.light {
  background-color: $bg_main-light;
  color: $tx_primary-light;
}

//dark theme
.dark {
  background-color: $bg_main-dark;
  color: $tx_primary-dark;
}

