@import "../../../../../styles/variables";

.person {
  padding: 3px 4px;
  font-size: 16px;
  font-weight: 500;
  border-top: 2px solid $bg_main-light;
}

.link {
  font-size: 16px;
  color: $tx_dark;
  text-decoration: none;
}
