@import "../../../../styles/variables";

.games_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 220px;
  height: 200px;
  margin: 0.2rem;
  margin-top: 0.8rem;
  overflow: auto;
  background-color: $bg_light-light;
  opacity: 0.6;
}

.games_area:hover {
  opacity: 1;
}
