@import '../../../../styles/variables';

.games_area {
  background-color: $bg_light-light;
  display: flex;
  flex-wrap: wrap;
  height: 27vh;
  justify-content: space-around;
  margin: 10px auto;
  margin-top: 30px;
  opacity: 0.6;
  overflow: auto;
  width: 96%;
}

.games_area:hover {
  opacity: 1;
}
