@import '../../../../../styles/variables';

.person {
  border-top: 2px solid $bg_main-light;
  padding: 3px 4px;

  font-size: 16px;
  font-weight: 500;
}

.link {
  text-decoration: none;

  color: $tx_dark;
  font-size: 16px;
}
