@import '../../styles/variables';

.footer {
	position: sticky;
	bottom: 0;
	height: 8vh;
}

.container {
	padding: 15px 0;
}

//light theme

.light {
	background-color: $bg_dark;
	color: $tx_primary-light;
}

//dark theme

.dark {
	background-color: $bg_dark;
	color: $tx_primary-dark;
}

