@import '../../../../styles/variables';

.column {
	grid-area: column_dialog;
	height: 100%;

	overflow: auto;
	overflow-x: auto;
	vertical-align: top;
}

.message_received {

	background-color: $bg_light-light;
	border-radius: 3px;
	margin: 3px;

	padding: 5px;

	width: 300px;
}

.message_received p {
	font-size: 14px;
}

.message {
	display: flex;
	justify-content: end;
}

.message_sent p {

	background-color: $bg_light-light;
	border-radius: 3px;

	font-size: 14px;
	margin: 3px;

	padding: 5px;

	width: 300px;
}

.redactor {

	background-color: $bg_main-light;
	height: 80px;
}
