.column {
  vertical-align: top;
  overflow-x: auto;
  height: 457px;
  grid-area: column_dialog;

  overflow: auto;
}

.message_received {
  border-radius: 3px;

  width: 300px;

  padding: 5px;
  margin: 3px;

  background-color: rgb(247, 243, 243);
}

.message_received p {
  font-size: 14px;
}

.message {
  display: flex;
  justify-content: end;
}

.message_sent p {
  border-radius: 3px;

  padding: 5px;
  margin: 3px;

  background-color: rgb(247, 243, 243);

  width: 300px;

  font-size: 14px;
}

.redactor {
  height: 80px;

  background-color: red;
}
