@import '../../../../styles/variables';

.column {
  vertical-align: top;
  overflow-x: auto;
  height: 100%;
  grid-area: column_dialog;

  overflow: auto;
}

.message_received {
  border-radius: 3px;

  width: 300px;

  padding: 5px;
  margin: 3px;

  background-color: $bg_light-light;
}

.message_received p {
  font-size: 14px;
}

.message {
  display: flex;
  justify-content: end;
}

.message_sent p {
  border-radius: 3px;

  padding: 5px;
  margin: 3px;

  background-color: $bg_light-light;

  width: 300px;

  font-size: 14px;
}

.redactor {
  height: 80px;

  background-color: $bg_main-light;
}
