@import '../../../../styles/variables';

.desk {
  align-items: center;
  column-gap: 30px;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.image_wrap {
  border: 1px solid $bg_main-light;
  border-radius: 50%;
  display: inline-block;
  height: 170px;
  overflow: hidden;
  width: 170px;
}

.image {
  height: 170px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
