@import '../../../../styles/variables';

.desk {
  margin: 10px;
}

.image_wrap {
  display: inline-block;

  border: 1px solid $bg_main;
  border-radius: 50%;

  height: 170px;
  width: 170px;

  overflow: hidden;
}

.image {
  height: 170px;
}

.info {
  position: relative;

  display: inline-block;

  vertical-align: top;

  margin: 30px;

  font-size: 20px;
}
