@import "../../styles/variables";

.active {
  font-weight: 500;
  color: $tx_active-light;
  background-color: $bg_active-light;
}

.link {
  font-size: 1rem;
  color: $tx_primary-light;
  text-decoration: none;
}

.link:hover {
  color: $tx_active-light;
  background-color: $bg_active-light;
}
