@import "../../../../styles/variables";

.column {
  flex: 1;
  overflow-y: auto;
}

.message_received {
  width: 300px;
  padding: 0.3rem;
  margin: 0.2rem;
  background-color: $bg_light-light;
  border-radius: 3px;
}

.message_received p {
  font-size: 0.8rem;
}

.message {
  display: flex;
  justify-content: flex-end;
}

.message_sent p {
  width: 300px;
  padding: 0.3rem;
  margin: 0.2rem;
  font-size: 0.8rem;
  background-color: $bg_light-light;
  border-radius: 3px;
}

.redactor {
  height: 80px;
  background-color: $bg_main-light;
}
