@import "../../../../styles/variables";

.column {
  grid-area: column_dialog;
  height: 100%;
  overflow: auto;
  overflow-x: auto;
  vertical-align: top;
}

.message_received {
  width: 300px;
  padding: 5px;
  margin: 3px;
  background-color: $bg_light-light;
  border-radius: 3px;
}

.message_received p {
  font-size: 14px;
}

.message {
  display: flex;
  justify-content: flex-end;
}

.message_sent p {
  width: 300px;
  padding: 5px;
  margin: 3px;
  font-size: 14px;
  background-color: $bg_light-light;
  border-radius: 3px;
}

.redactor {
  height: 80px;
  background-color: $bg_main-light;
}
