.section {
  height: 44vh;
}

.panorama {
  height: 60px;

  margin-bottom: 5px;

  overflow: hidden;
}

.user {
  display: flex;
  justify-content: space-between;

  background-color: lightblue;
  color: darkblue;

  padding: 10px;
}
