@import "../../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  height: inherit;
}

.wrapper {
  flex: 1;

  h2 {
    padding-top: 2rem;
    font-size: 2rem;
    color: $tx_dark;
  }
}

.form {
  flex: 1;
  padding: 1rem;
  background-color: $bg_main-light;

  fieldset {
    position: relative;
    top: 50%;
    max-width: 400px;
    margin: 0 auto;
    border: none;
    transform: translateY(-50%);
  }

  legend {
    font-size: 1.2rem;
    color: $bg_light-light;
  }

  input {
    width: 100%;
    margin: 1rem 0;

    &:focus {
      outline: none;
    }
  }

  .action {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    button {
      margin-right: 0.3rem;
    }
  }
}
