$bg_dark: #00444e;
$tx_dark: #00444e;

$dark_color: #003239;

// light theme
$bg_main-light: #2b707a;
$bg_active-light: #6cc4d1;
$bg_light-light: #e1f5fe;

$tx_primary-light: white;
$tx_active-light: #00444e;


// dark theme
$bg_main-dark: #00252a;
$bg_active-dark: #6cc4d1;
$bg_light-light: #e1f5fe;

$tx_primary-dark: #c3d7e0;
// $tx_active-light: #00444e;

// scroll
$track: #6cc4d1;
$thumb: #2b707a;
$thumb_active: #00444e;
