@import '../../styles/variables';

.container {
	display: flex;
	height: 80vh;
}

//light theme

.light {
	background-color: $bg_light-light;
}

//dark theme

.dark {
	background-color: $bg_main-dark;
}
