@import "../../../styles/variables";

.section {
  display: flex;
  align-items: flex-start;
  width: 100%;

  img {
    width: 190px;
  }

  .user {
    color: $tx_dark;

    p {
      padding: 0.7rem 0.2rem;
    }
  }
}
