.carousel_wrap {
  position: relative;
}

.carousel {
  height: 180px;

  overflow: hidden;
  white-space: nowrap;
}

.image_wrap {
  display: inline-block;

  height: 160px;
  width: 160px;

  overflow: hidden;

  margin: 10px 6px;
}

.image {
  height: 160px;
}

.button {
  position: absolute;

  top: 0;

  height: 100%;
  width: 40px;

  font-size: 30px;

  border: none;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;

  border: 1px solid gray;
}

.button_left {
  left: 0;
}

.button_right {
  right: 0;
}
