@import "../../styles/variables";

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 13vh;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 4px;
}

//light theme
.light {
  color: $tx_primary-light;
  background-color: $bg_dark;
}

//dark theme
.dark {
  color: $tx_primary-dark;
  background-color: $bg_dark;
}
