@import "../../../styles/variables";

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.link {
  display: block;
  padding: 5px;
  color: $tx_primary-light;
  text-decoration: none;
}

.link:hover {
  color: $tx_active-light;
  background-color: $bg_active-light;
}

//light theme
.light {
  color: $tx_primary-light;
  background-color: $bg_main-light;
}

//dark theme
.dark {
  color: $tx_primary-dark;
  background-color: $bg_main-dark;
}
