@import '../../../../styles/variables';

.column {
  padding: 0 4px;

  background-color: $bg_light;

  color: $tx_dark;

  vertical-align: top;
  overflow: auto;

  grid-area: column_person;
}

.column div:first-child {
  border: none;
}
