@import "../../styles/variables";

.wrap {
  width: 200px;
  height: 400px;
  overflow: hidden;
  background-color: $bg_light-light;
  border-radius: 14px;

  * {
    color: $tx_dark;
  }
}

.photo {
  height: 100px;
}
