@import '../../styles/variables';

.header {
  background-color: $bg_dark;
}

.container {
  display: flex;
  justify-content: space-between;

  padding: 15px 0;
}

.logo {
  color: $tx_primary;
}

.input {
  width: 300px;
  height: 30px;

  border: none;
  border-radius: 4px;
}
