@import '../../styles/variables';

.header {
	position: sticky;
	z-index: 1;
	height: 13vh;
	top: 0;
}

.container {
	display: flex;
	justify-content: space-between;

	padding: 15px 0;
}

.logo {
}

.input {

	border: none;
	border-radius: 4px;
	height: 30px;
	width: 300px;
}

//light theme

.light {
	background-color: $bg_dark;
	color: $tx_primary-light;
}

//dark theme

.dark {
	background-color: $bg_dark;
	color: $tx_primary-dark;
}
