@import './styles/customScroll';
@import './styles/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg_light-light;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.section_wrap {
  display: inline-block;
  margin: 5px auto;
  vertical-align: top;
  width: 79%;
}

button {
  background-color: $bg_light-light;
  border: none;
  color: $tx_dark;
  font-size: 1rem;

  &:active {
    background-color: $bg_active-light;
    color: $bg_light-light;
  }
}

input {
  font-size: 1rem;
  outline: none;
  border: none;
  color: $tx_dark;
}

input,
button,
a {
  padding: 0.3rem 0.7rem;
}
