@import '../../../styles/variables';

.aside {
  display: inline-block;

  margin: 5px;

  width: 20%;
  height: 98%;
}

.list {
  list-style: none;
}

.item {
  font-size: 18px;
}

.link {
  display: block;

  color: $tx_primary-light;

  text-decoration: none;

  padding: 15px;
}

.link:hover {
  background-color: $bg_active-light;
  color: $tx_active-light;
}

.active {
  background-color: $bg_active-light;
  color: $tx_active-light;
  font-weight: 500;
}

//light theme
.light {
  background-color: $bg_main-light;
}

//dark theme
.dark {
  background-color: $bg_dark;
}
