@import '../../../styles/variables';

.aside {
  display: inline-block;

  margin: 5px;

  width: 20%;
  height: 100%;

  background-color: $bg_main;
}

.list {
  list-style: none;
}

.item {
  font-size: 18px;
}

.link {
  display: block;

  color: $tx_primary;

  text-decoration: none;

  padding: 15px;
}

.link:hover {
  background-color: $bg_active;
  color: $tx_active;
}

.active {
  background-color: $bg_active;
  color: $tx_active;
  font-weight: 500;
}
