.aside {
  display: inline-block;

  margin: 5px;

  border-radius: 6px;

  height: 72vh;
  width: 25%;

  background: blue;
}

.list {
  list-style: none;
}

.item {
  font-size: 18px;
}

.link {
  display: block;

  color: white;

  text-decoration: none;

  padding: 15px;
}

.link:hover {
  background-color: lightblue;
  color: blue;
}
