.wrap {
	background-color: rgba(128, 128, 128, 0.3);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.spinner {

	animation: rotating 0.5s linear infinite;
	left: 50%;
	position: absolute;
	top: 50%;

	img {
		height: 80px;
		width: auto;
	}
}

@keyframes rotating {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
