@import '../../../../styles/variables';

.friends_area {

	background-color: $bg_light-light;
	display: flex;
	flex-wrap: wrap;
	height: 35vh;
	justify-content: space-around;

	margin: auto;
	margin-top: 30px;

	opacity: 0.6;

	overflow: auto;

	width: 96%;
}

.friends_area:hover {
	opacity: 1;
}

.friend {
	height: 100px;
	margin: 3px;

	width: 65px;
}

.photo_wrap {
	border-radius: 50%;

	height: 65px;

	overflow: hidden;
	width: 65px;
}

.photo {
	height: 65px;
}

.friend p {
	text-align: center;
}
