@import "../../../../styles/variables";

.column {
  grid-area: column_person;
  padding: 0 4px;
  overflow: auto;
  color: $tx_dark;
  vertical-align: top;
  background-color: $bg_light-light;
}

.column div:first-child {
  border: none;
}
